In [1]:
import os
import psycopg2
import configparser

In [2]:
config = configparser.ConfigParser()
config.read('config.cfg')

['config.cfg']

#### CONNECT TO REDSHIFT CLUSTER

In [26]:
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(
    config.get('CLUSTER', 'HOST'),
    config.get('CLUSTER', 'DB_NAME'),
    config.get('CLUSTER', 'DB_USER'),
    config.get('CLUSTER', 'DB_PASSWORD'),
    config.get('CLUSTER', 'DB_PORT')))
cur = conn.cursor()

#### CREATE SCHEMA

In [9]:
create_schema = """CREATE SCHEMA IF NOT EXISTS usa;"""
cur.execute(create_schema)
conn.commit()

#### CREATE immigration_staging_day TABLE

In [7]:
immigration_staging_day_table_drop = "DROP TABLE IF EXISTS usa.immigration_staging_day"
immigration_staging_day_table_create = ("""
    CREATE TABLE usa.immigration_staging_day(
        admission_number INT,
        age INT,
        gender VARCHAR,
        arrival_date VARCHAR,
        departure_date VARCHAR,
        from_country_code INT,
        usa_port_code VARCHAR,
        visa_code INT,
        travel_way INT);
""")

In [10]:
cur.execute(immigration_staging_day_table_drop)
cur.execute(immigration_staging_day_table_create)
conn.commit()

#### CREATE usa_port TABLE

In [11]:
usa_port_table_drop = "DROP TABLE IF EXISTS usa.usa_port"
usa_port_table_create = ("""
    CREATE TABLE usa.usa_port(
        code VARCHAR PRIMARY KEY,
        city VARCHAR,
        state_code VARCHAR,
        state VARCHAR);
""")

In [12]:
cur.execute(usa_port_table_drop)
cur.execute(usa_port_table_create)
conn.commit()

#### CREATE travel_way TABLE

In [13]:
travel_way_table_drop = "DROP TABLE IF EXISTS usa.travel_way"
travel_way_table_create = ("""
    CREATE TABLE usa.travel_way(
        code INT PRIMARY KEY,
        description VARCHAR);
""")

In [14]:
cur.execute(travel_way_table_drop)
cur.execute(travel_way_table_create)
conn.commit()

#### CREATE visa_code TABLE

In [15]:
visa_code_table_drop = "DROP TABLE IF EXISTS usa.visa_code"
visa_code_table_create = ("""
    CREATE TABLE usa.visa_code(
        code INT PRIMARY KEY,
        visa VARCHAR);
""")

In [16]:
cur.execute(visa_code_table_drop)
cur.execute(visa_code_table_create)
conn.commit()

#### CREATE i94country_code TABLE

In [17]:
i94country_code_table_drop = "DROP TABLE IF EXISTS usa.i94country_code"
i94country_code_table_create = ("""
    CREATE TABLE usa.i94country_code(
        code INT PRIMARY KEY,
        country VARCHAR);
""")

In [18]:
cur.execute(i94country_code_table_drop)
cur.execute(i94country_code_table_create)
conn.commit()

#### CREATE arrival_date TABLE

In [28]:
arrival_date_table_drop = "DROP TABLE IF EXISTS usa.arrival_date"
arrival_date_table_create = ("""
        CREATE TABLE usa.arrival_date(
            arrival_date DATE PRIMARY KEY,
            arrival_year INT,
            arrival_month INT,
            arrival_day INT);
""")

In [29]:
cur.execute(arrival_date_table_drop)
cur.execute(arrival_date_table_create)
conn.commit()

#### CREATE city_state_travelers_entry TABLE

In [24]:
city_state_travelers_entry_drop = "DROP TABLE IF EXISTS usa.city_state_travelers_entry"
city_state_travelers_entry_create = ("""
    CREATE TABLE usa.city_state_travelers_entry(
        record_id INT IDENTITY(1,1) PRIMARY KEY, 
        admission_number INT,
        age INT, 
        gender VARCHAR, 
        arrival_date VARCHAR,
        departure_date VARCHAR, 
        from_country_code INT,
        from_country VARCHAR, 
        usa_port_code VARCHAR, 
        city VARCHAR,
        state VARCHAR,
        state_code VARCHAR, 
        visa_code INT,
        visa VARCHAR,
        travel_way_code INT,
        travel_way VARCHAR);
""")

In [27]:
cur.execute(city_state_travelers_entry_drop)
cur.execute(city_state_travelers_entry_create)
conn.commit()

In [23]:
conn.close()